{% include base_path %}

<!-- start custom head snippets -->

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">

<!-- Favicon (ICO and PNG) -->
<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">

<!-- Web Manifest -->
<link rel="manifest" href="/favicon/site.webmanifest">

<!-- Optional: Web app icons -->
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/web-app-manifest-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/favicon/web-app-manifest-512x512.png">

<!-- Academicons CSS -->
<link rel="stylesheet" href="/assets/css/academicons.css"/>

<!-- MathJax Configuration -->
<!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "all" } },
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML" async></script> -->

<!-- end custom head snippets -->
